*{
    margin: 0px;
    padding: 0px;
}
a{text-decoration: none;
color: black;
}
.menu > a{
    margin-right:30px ;
}

.menu > a:hover{
text-decoration: none;
color: red;

}

ul:first-child{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px  0px 20px 0px;
    padding: 0px  80px 0px 80px;
}

.submenu li{
   position: relative;
    z-index: 2;
    width: 100px;
    text-align: center;
    left: 50%;
    margin-left: -50px;
    top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    height: 0px;
    overflow:  hidden ;
    transition:0.4s;
    animation: linear;
    background-color: #313131;
   
    
    
}
.submenu li a{
    color:white;
}
.submenu li:hover{
    background-color: #444;
    

}
.submenu li:nth-child(odd){
    background-color: #363636;
    
}
.submenu li:first-child{
    position: relative;
    border-radius: 3px 3px 0px 0px;
    margin-top: 25px;
}
.submenu li:last-child{
    border-radius: 0px 0px 3px 3px ;
}
.menu:hover >.submenu li{
    height: 30px;
    overflow: visible;
    display: block;
}
.container li ul li:first-child:before {
    content:'';
    position:absolute;
    width:1px;
    height:1px;
    border:5px solid transparent;
    border-bottom-color: #313131;
    left:50%;
    top:-10px;
    margin-left:-5px;
    }

    .submenu a{
        padding: 12px;
        color: #fff;
        display: block;
    }