*{
    margin: 0px;
    padding: 0px;
}
a{text-decoration: none;
color: black;
}

ul li a:hover{
color: red;
text-decoration: none;
}

ul{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px  0px 20px 0px;
    padding: 0px  80px 0px 80px;
}

.submenu li{
   
    z-index: 2;
    width: 100px;
    text-align: center;
    left: 50%;
    margin-left: -50px;
    top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    height: 0px;
    overflow:  hidden ;
    transition:0.4s;
    animation: linear;
    justify-content: center;
    
    
}
.submenu li{
    background-color: #313131;

}
.submenu li a{
    color:white;
}
.submenu li:hover{
    background-color: #444;
    

}
.submenu li:nth-child(odd){
    background-color: #363636;
    
}
.menu:hover >.submenu li{
    height: 100px;
    overflow: visible;
    display: block;
}