$colorTexto: #eee;
$colorTextoHover:lighten(#eee, 10%);
$colorRaton:#888;
$colorFondo: #15a;
$colorFondoHover:lighten(#15a, 10% );
$colorTitulo:darken(#15a, 10%);
$theme:dark;

nav#desktop{
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        .submenu {
            position: absolute;
            height: 0px;
            overflow: hidden;
            -moz-transition: height 0.5s ease-out;
            -webkit-transition: height 0.5s ease-out;
            transition: height 0.5s ease-out;
          }
      }
      &> ul {
        width: 100%;
        height: 32px;
        color: $colorTexto;
        background-color: $colorFondo;
      }
      a {
        color: $colorTexto;
        background-color: $colorFondo;
        text-decoration: none;
        width: 160px;
        padding: 7px 20px;
        display: block;
        text-align: center;
        cursor: pointer;

        &:hover {
            color: $colorFondoHover;
            background-color: $colorRaton;
            -moz-animation: iluminar 0.4s linear;
            -webkit-animation: iluminar 0.4s linear;
            animation: iluminar 0.4s linear;
          }
      }

      @include respond-to(max-width , 1024px){
        display: none
       };
     
  }
  li.categoria {
    float: left;
    &> a {
        -moz-transition: padding 0.4s ease-out;
        -webkit-transition: padding 0.4s ease-out;
        transition: padding 0.4s ease-out;
      }
      &:hover > a {
        padding: 10px 20px;
      }
      &:hover ul.submenu {
        height: 100px;
      }
  }

  nav#mobile {
    display: none;
    float: right;
    &:hover ul {
        height: auto;
      }
      ul {
        margin: 0px;
        height: 0px;
        overflow: hidden;
        list-style-type: none;
        position: absolute;
        right: 10px;
        top: 40px;
        a {
            color: #eee;
            background-color: #138;
            text-decoration: none;
            width: 160px;
            padding: 7px 20px;
            display: block;
            text-align: center;
            cursor: pointer;
            font-size: 0.6em;
            font-weight: normal;
            &:hover {
                color: white;
                background-color: #1744b5;
                -moz-animation: iluminar 0.4s linear;
                -webkit-animation: iluminar 0.4s linear;
                animation: iluminar 0.4s linear;
              }
          }
      }
      .icon-menu {
        background-image: url(../images/menu.png);
        background-position: 0px 0px;
        height: 30px;
        width: 32px;
        
      }
      
      @include respond-to(max-width , 800px){
        display:block
       };

  }

