
@import "_mixin.scss";
@import "__menu.scss";
$colorTexto: #eee;
$colorTextoHover:lighten(#eee, 10%);
$colorRaton:#888;
$colorFondo: #15a;
$colorFondoHover:lighten(#15a, 10% );
$colorTitulo:darken(#15a, 10%);
$theme:dark;


%button-block{
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor:pointer;
}

%input-block{
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #bbb;
  cursor:pointer;
}
#contenido{
  padding: 30px 20px;

  .col-left{
    
    box-sizing: border-box;
    width: 30%;
    float: left;
    padding: 10px;
   
    input{
      @extend %input-block;
    }
    button{
      @extend %button-block;
    }
    @include respond-to(max-width , 800px){
      float: none;
      width: 100%;
    };

  }
  .col-right{
    box-sizing: border-box;
    margin-left: 30%;
    width: 70%;
    padding: 10px;
    h1{
      color:$colorTitulo;
      font-size: 1.6em;
    }
    @include respond-to(max-width , 800px){
    margin-left: 0;
      width: 100%;
    };

  }
  .button-action{
    background-color: $colorFondo;
    color: white;
    &:hover{
      background-color: lighten(#15a, 20% );;
    }
    @include respond-to(max-width , 1024px){
     padding: 10px 20px;
    };

  }
}




body {
    padding: 0px;
    margin: 0px;
  }
  
  header {
    padding: 12px 30px;
    font-size: 1.8em;
    color: #444;
    background-color: $colorTexto;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, "Times New Roman", Times, serif;
    
  }
  
  footer {
    color: $colorTexto;
    background-color: $colorFondo;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 5px;
  }



