@import "__contenido.scss";
@import "__menu.scss";
i{ display: inline-block;}

$colorTexto: #eee;
$colorTextoHover:lighten(#eee, 10%);
$colorRaton:#888;
$colorFondo: #15a;
$colorFondoHover:lighten(#15a, 10% );
$colorTitulo:darken(#15a, 10%);
$theme:light;



body {
    padding: 0px;
    margin: 0px;
  }
  
  header {

    padding: 12px 30px;
    font-size: 1.8em;
    color: #444;
    background-color: $colorTexto;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, "Times New Roman", Times, serif;

    @if $theme ==dark {
      background-color: #138;
    }@else{
      background-color: #ddf;
      color:#138 ;
    }
    
  }
  
  footer {
    color: $colorTexto;
    background-color: $colorFondo;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 5px;
  }



  
