
.pagina{
    display: flex;
    flex-wrap: wrap;
   
}
nav{
    background-color: rgb(233, 101, 101);
    height: 30px;

}
header{
    width: 100%;
    background-color: greenyellow;
    
}
aside{  
    width: 50%;
    background-color: rgb(0, 162, 255);
}

main{
    width: 50%;
    background-color: grey;
}



@media all and (max-width: 600px)
{
div, nav, header, aside, main
{
/* Cuando el ancho sea inferior a 600px el elemento será un bloque */
display: block !important;
/* Se ajustarán al ancho de la ventana */
width: 100% !important;
margin: auto !important;
/* La posición será estática (flujo normal del documento) */
position: static !important;
/* los elementos dejarán de ser flotantes */
float: none !important;
}
}