$color1: #FF8000;
$color2:#2E5F64;

#primero{
   
    .destacado{
        color: $color1;
        font-size: 1.6em;
        text-align: center;
        padding: 6px;
    }
    
     
    
}
#segundo{
  
   
    .destacado{
        color: $color2;
        font-size: 1.4em;
        text-align: center;
        text-decoration: underline;
        padding: 5px;
    }
    
        &:not(.destacado){
            p::first-line { 
                font-style:italic;
                
            }
            
        }
     
}

div{
    padding: 20px;

    #parrafos{
text-align: right;
    }
}