* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  height: 500px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.item1 {
  grid-area: 1 / 1;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("../imgs/imgs/pexels-photo-2961121.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.item2 {
  grid-area: 1 / 2;
  background-image: url("../imgs/imgs/pexels-photo-2941098.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item3 {
  grid-area: 2 / 2;
  background-image: url("../imgs/imgs/pexels-photo-2948260.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item4 {
  grid-area: 1 / 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("../imgs/imgs/pexels-photo-2958731.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item5 {
  grid-area: 1 / 4;
  background-image: url("../imgs/imgs/pexels-photo-2967810.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item6 {
  grid-area: 2 / 4;
  background-image: url("../imgs/imgs/pexels-photo-2944537.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item7 {
  grid-area: 1/1;
  background-image: url("../imgs/imgs/pexels-photo-2976579.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item8 {
  grid-area: 2/1;
  background-image: url("../imgs/imgs/pexels-photo-2922672.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item9 {
  grid-area: 3/1;
  background-image: url("../imgs/imgs/pexels-photo-2943603.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item10 {
  grid-area: 1/2;
  background-image: url("../imgs/imgs/pexels-photo-2962135.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item11 {
  grid-area: 2/2;
  background-image: url("../imgs/imgs/pexels-photo-3012724.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.item12 {
  grid-area: 1/3;
  background-image: url("../imgs/imgs/pexels-photo-2905547.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
