$colorTexto:#eee;
$colorSobre:#fff;
$colorFondo:#666;
$colorRaton:#888;

@mixin textoFondo(){
    color:$colorTexto;
    background-color: $colorFondo;
}
@mixin textoFondoAlternativo(){
    color: $colorSobre;
    background-color: $colorRaton;
}
@mixin boxsizing ($type){
-webkit-box-sizing: $type;
-moz-box-sizing: $type;
box-sizing: $type;
}
@mixin transition ($property, $duration, $timing:linear){
    transition: $property $duration $timing;

}
@mixin transition2 ($name, $duration, $timing:linear){
    transition: $name, $duration, $timing;
}

nav {
    position: absolute;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        .submenu {
            position: absolute;
            height: 0px;
            overflow: hidden;
            -moz-transition: height 0.5s ease-out;
            -webkit-transition: height 0.5s ease-out;
            transition: height 0.5s ease-out;
          }
      }
      &> ul {
        width: 100%;
        height: 32px;
        color: $colorTexto;
        background-color: $colorFondo;
      }
      a {
        color: $colorTexto;
        background-color: $colorFondo;
        text-decoration: none;
        width: 160px;
        padding: 7px 20px;
        display: block;
        text-align: center;
        cursor: pointer;

        &:hover {
            color: $colorSobre;
            background-color: $colorRaton;
            -moz-animation: iluminar 0.4s linear;
            -webkit-animation: iluminar 0.4s linear;
            animation: iluminar 0.4s linear;
          }
      }

  }
  li.categoria {
    float: left;
    &> a {
        -moz-transition: padding 0.4s ease-out;
        -webkit-transition: padding 0.4s ease-out;
        transition: padding 0.4s ease-out;
      }
      &:hover > a {
        padding: 10px 20px;
      }
      &:hover ul.submenu {
        height: 100px;
      }
  }


body {
    padding: 0px;
    margin: 0px;
  }
  
  header {
    padding: 12px 30px;
    font-size: 1.8em;
    color: #444;
    background-color: $colorTexto;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  footer {
    color: $colorTexto;
    background-color: $colorFondo;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
  }



