@import "functions.scss";
$colorTexto: #eee;
$colorTextoHover:lighten(#eee, 10%);
$colorRaton:#888;
$colorFondo: #15a;
$colorFondoHover:lighten(#15a, 10% );
$colorTitulo:darken(#15a, 10%);
$theme:dark;
//para el body
$colortexto:white;
$colorfondo: rgb(24, 21, 21);
$colortitulo:(#888 );